<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
    <link rel="stylesheet" href="../static/css/Style.css" th:href="@{/css/Style.css}">
</head>

<body>
    <div class="wrapper">
        <h1>Message</h1>
        <div class = "formBox">
            <form action ="#" th:action="@{/msg}" th:object="${messages}" method="POST">
                Author :
                <input type="text" th:field="*{author}">
                Message :
                <input type="text" th:field="*{messages}">
                <input type="submit" value="Send">
            </form>
        </div>


        <div class="msgBox" th:each="msg:${msglist}">
            <br>
            Author: <span class="author" th:text="${msg.author}"></span>
            <br>Date : <span class="created_at" th:text="${msg.createdAt}"></span></br>
            <br>Message :</br>
            <p class="message" th:text="${msg.messages}"></p>

        </div>
    </div>
</body>
</html>